@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
  background-color: rgba(31, 31, 36, 0.4);
}

header .navbar {
  padding: 9px 40px;
}

h5 {
  margin: 9px 0 0 0;
}

main section {
  padding: 75px 0;
}

main section h2:not(.training_title), main section .info_educational {
  letter-spacing: 2.3px;
  color: rgba(31, 31, 36, 0.9);
  font-weight: 600;
}

@media screen and (max-width: 387px) {
  main section h2:not(.training_title), main section .info_educational {
    font-size: 19px;
  }
}

main section h2:not(.training_title):after, main section .info_educational:after {
  content: '';
  width: 200px;
  border-bottom: solid 2px #ffa21b;
  display: block;
  margin: 24px auto 0;
}

main section h2.training_title {
  font-weight: 600;
  margin-bottom: 18px;
}

main section .info_educational {
  font-weight: 400;
  font-size: 24px;
}

main section .info_educational span {
  font-weight: 700;
  padding-right: 10px;
}

main section:nth-child(1).section_screen_page_form {
  background: url("../img/form_page/form_page_home.jpg") no-repeat;
  background-size: cover;
  padding: 172px 0 56px 0;
}

main section:nth-child(1).section_screen_page_form .container h1 {
  margin-bottom: 5%;
  font-size: 50px;
}

@media screen and (max-width: 392px) {
  main section:nth-child(1).section_screen_page_form .container h1 {
    font-size: 30px;
  }
}

main section:nth-child(1).section_screen_page_course {
  background: url("../img/page_3/fone_home_page_3.jpg") no-repeat;
  background-size: cover;
  padding: 172px 0 56px 0;
}

main section:nth-child(1).section_screen_page_course .container {
  position: relative;
}

main section:nth-child(1).section_screen_page_course .container h1 {
  margin-bottom: 46px;
  font-size: 50px;
}

@media screen and (max-width: 392px) {
  main section:nth-child(1).section_screen_page_course .container h1 {
    font-size: 30px;
  }
}

main section:nth-child(1).section_screen_page_course, main section:nth-child(1).section_screen_page_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main section:nth-child(1).section_screen_page_course a.directory_button, main section:nth-child(1).section_screen_page_form a.directory_button {
  position: relative;
  color: #fff;
  font-size: 24px;
  padding: 12px 92px 15px 21px;
  border: 2px solid #fff;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 392px) {
  main section:nth-child(1).section_screen_page_course a.directory_button, main section:nth-child(1).section_screen_page_form a.directory_button {
    font-size: 18px;
  }
}

main section:nth-child(1).section_screen_page_course a.directory_button:after, main section:nth-child(1).section_screen_page_form a.directory_button:after {
  content: '';
  background: url(../img/arrow_button.svg) no-repeat;
  position: absolute;
  background-size: cover;
  width: 28px;
  background-position-y: center;
  height: 19px;
  top: 0;
  bottom: 4px;
  right: 26px;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
}

main section:nth-child(1).section_screen_page_course a.directory_button:before, main section:nth-child(1).section_screen_page_form a.directory_button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background: linear-gradient(to top, #e27311, #de9224, #e27311);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

main section:nth-child(1).section_screen_page_course a.directory_button:hover, main section:nth-child(1).section_screen_page_form a.directory_button:hover {
  border: 2px solid transparent;
}

main section:nth-child(1).section_screen_page_course a.directory_button:hover:before, main section:nth-child(1).section_screen_page_form a.directory_button:hover:before {
  opacity: 1;
}

main section:nth-child(1).section_screen_page_course a.directory_button:hover span, main section:nth-child(1).section_screen_page_form a.directory_button:hover span {
  opacity: 1;
}

main section:nth-child(1).section_screen_page_course a.directory_button:hover:after, main section:nth-child(1).section_screen_page_form a.directory_button:hover:after {
  opacity: 1;
}

main section:nth-child(1).section_screen_page_course a.directory_button span, main section:nth-child(1).section_screen_page_form a.directory_button span {
  position: relative;
  z-index: 3;
}

main section:nth-child(1).section_screen_page_home {
  background: url("../img/img_fone_home.jpg") no-repeat;
  background-size: cover;
  padding: 616px 0 86px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 2048px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 616px;
  }
}

@media screen and (max-width: 1920px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 554px;
  }
}

@media screen and (max-width: 1680px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 438px;
  }
}

@media screen and (max-width: 1600px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 399px;
  }
}

@media screen and (max-width: 1536px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 368px;
  }
}

@media screen and (max-width: 1440px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 320px;
  }
}

@media screen and (max-width: 1400px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 302px;
  }
}

@media screen and (max-width: 1366px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 279px;
  }
}

@media screen and (max-width: 1280px) {
  main section:nth-child(1).section_screen_page_home {
    padding-top: 258px;
  }
}

main section:nth-child(1).section_screen_page_home .container form.form_button_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 340px;
  height: 60px;
  margin: 0 auto;
  padding-bottom: 3px;
  font-size: 24px;
  color: #fff;
  border-radius: 8px;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), color-stop(#e27311), to(#de9224));
  background: linear-gradient(to top, #de9224, #e27311, #e27311, #de9224);
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 420px) {
  main section:nth-child(1).section_screen_page_home .container form.form_button_link {
    width: 270px;
    font-size: 15px;
  }
}

main section:nth-child(1).section_screen_page_home .container form.form_button_link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background: linear-gradient(to top, #e27311, #de9224, #e27311);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  z-index: 2;
  opacity: 0;
}

main section:nth-child(1).section_screen_page_home .container form.form_button_link:hover:after {
  opacity: 1;
}

main section:nth-child(1).section_screen_page_home .container form.form_button_link button {
  border: none;
  background: transparent;
  z-index: 3;
  font-weight: 500;
  letter-spacing: 0.7px;
}

main section:nth-child(1).section_screen_page_home img {
  height: 100vh;
}

main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_home div h3 {
  text-shadow: 0px 7px 21.6px rgba(31, 31, 36, 0.5);
}

main section:nth-child(1).section_screen_page_home div h1 {
  margin-bottom: 11px;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: 4.3px;
  opacity: 0.9;
}

@media screen and (max-width: 1280px) {
  main section:nth-child(1).section_screen_page_home div h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 774px) {
  main section:nth-child(1).section_screen_page_home div h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 812px) and (max-height: 460px) {
  main section:nth-child(1).section_screen_page_home div h1 {
    font-size: 34px;
  }
}

main section:nth-child(1).section_screen_page_home div h3 {
  margin-bottom: 73px;
  letter-spacing: 2.25px;
  font-size: 30px;
  opacity: 0.9;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  main section:nth-child(1).section_screen_page_home div h3 {
    margin-bottom: 20%;
    letter-spacing: 0;
  }
}

@media screen and (max-height: 320px) {
  main section:nth-child(1).section_screen_page_home div h3 {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 812px) and (max-height: 460px) {
  main section:nth-child(1).section_screen_page_home div h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

main section:nth-child(2) {
  background: #ffffff;
}

main section:nth-child(2) .container {
  padding: 34px 28px;
  max-width: 100%;
}

@media screen and (max-width: 496px) {
  main section:nth-child(2) .container {
    padding: 34px 15px;
  }
}

main section:nth-child(2) .container .row > div {
  padding: 12px;
}

main section:nth-child(2) .container .row > div .img_course {
  border-radius: 6px;
  border: solid 1px #e2e2e2;
  background-color: #fcfcfc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

main section:nth-child(2) .container .row > div .img_course:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.14);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.14);
}

main section:nth-child(2) .container .row > div .img_course:hover h5 {
  background: conic-gradient(from 0.25turn, #e28d11, #ff511b 0.5turn, #e28d11), -webkit-gradient(linear, left top, left bottom, from(#e79112), to(#e79112));
  background: conic-gradient(from 0.25turn, #e28d11, #ff511b 0.5turn, #e28d11), linear-gradient(to bottom, #e79112, #e79112);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section:nth-child(2) .container .row > div .img_course a {
  padding: 25.5px 30px;
}

main section:nth-child(2) .container .row > div .img_course a img {
  width: 20%;
  height: 67px;
}

main section:nth-child(2) .container .row > div .img_course a h5 {
  color: rgba(31, 31, 36, 0.8);
  width: 100%;
}

@media screen and (max-width: 1200px) {
  main section:nth-child(2) .container .row > div .img_course a h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 387px) {
  main section:nth-child(2) .container .row > div .img_course a h5 {
    font-size: 15px;
  }
}

main section#section_course {
  background: #f2f2f2;
}

main section#section_course .container {
  padding: 56px 40px 0 40px;
  max-width: 100%;
}

@media screen and (max-width: 570px) {
  main section#section_course .container {
    padding: 3% 15px;
  }
}

main section#section_course .container .img_shadow {
  border-radius: 6px;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
  overflow: hidden;
  position: relative;
}

main section#section_course .container a {
  position: absolute;
  color: #fff;
  bottom: 41px;
  left: 0;
  right: 0;
  margin: auto;
  width: 255px;
  font-size: 26px;
  padding: 5px 31px 5px;
  border: 2px solid #fff;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
}

main section#section_course .container a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background: linear-gradient(to top, #e27311, #de9224, #e27311);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

main section#section_course .container a:hover {
  border: 2px solid transparent;
}

main section#section_course .container a:hover:before {
  opacity: 1;
}

main section#section_course .container a:hover span {
  opacity: 1;
}

main section#section_course .container a span {
  position: relative;
  z-index: 3;
}

main section#section_course .container a:after {
  content: '';
  background: url(../img/arrow_button.svg) no-repeat;
  position: absolute;
  background-size: cover;
  width: 32px;
  background-position-y: center;
  height: 18px;
  top: 2px;
  bottom: 0;
  right: 37px;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
}

main section#section_course .container h4.text_shadow {
  text-shadow: rgba(31, 31, 36, 0.4) 1px 0 0.3px, 7px 5px 12px rgba(31, 31, 36, 0.2);
  color: rgba(31, 31, 36, 0.6);
}

main section#section_course .container h4 {
  letter-spacing: 1.3px;
  padding-top: 40px;
  font-size: 26px;
}

@media screen and (max-width: 992px) {
  main section#section_course .container h4 {
    margin-bottom: 48px;
  }
}

main section form:not(.form_page) {
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
}

main section form:not(.form_button_link) {
  border-radius: 6px;
  border: solid 1px #d2d2d2;
  background-color: #f2f2f2;
  padding: 30px 4px 17px 8px;
}

main section form:not(.form_button_link) #input_upload_file {
  display: none;
}

main section form:not(.form_button_link) .file_upload_button label {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #d8d8d8;
  padding: 12px 32px 12px 20px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(72, 72, 109, 0.68);
  letter-spacing: 1px;
  width: 48%;
}

main section form:not(.form_button_link) .file_upload_button label div {
  margin-right: 18px;
}

@media screen and (max-width: 640px) {
  main section form:not(.form_button_link) .file_upload_button label {
    width: 100%;
  }
}

main section form:not(.form_button_link) .file_upload_button label:hover {
  color: rgba(31, 31, 36, 0.7);
}

@media screen and (max-width: 992px) {
  main section form:not(.form_button_link) .form-row {
    margin-bottom: 30px;
  }
}

main section:nth-child(4):not(.section_course_page_course) {
  background: #fff;
  overflow-x: hidden;
  padding: 75px 40px 90px 40px;
}

main section:nth-child(4):not(.section_course_page_course) .container {
  padding: 56px 70px 0;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(4):not(.section_course_page_course) .container {
    padding: 56px 55px 0;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(4):not(.section_course_page_course) .container {
    padding: 56px 0 0 0;
  }
}

main section:nth-child(4):not(.section_course_page_course) .container .item:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 12, 0.18);
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section:nth-child(4):not(.section_course_page_course) .container .item:hover::after {
  opacity: 1;
}

main section:nth-child(4):not(.section_course_page_course) .container .item div {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 99999;
}

main section:nth-child(4):not(.section_course_page_course) .container .item div .btn {
  color: rgba(255, 162, 27, 0.8);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 162, 27, 0.8);
  padding: 0;
  border-radius: 0;
}

main section:nth-child(4):not(.section_course_page_course) .container .item div .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section:nth-child(4):not(.section_course_page_course) .container .item div .btn:hover {
  color: #ffa21b;
  border-bottom: 2px solid #ffa21b;
}

main section:nth-child(4):not(.section_course_page_course) .container .item:hover div {
  opacity: 1;
}

main section:nth-child(4):not(.section_course_page_course) .container .item img {
  -webkit-box-shadow: -1px 14px 29px 4px #c9c9c9;
          box-shadow: -1px 14px 29px 4px #c9c9c9;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-stage-outer {
  overflow: visible;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-stage-outer .owl-item {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-stage-outer .owl-item.active {
  opacity: 1;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-nav {
  position: absolute;
  top: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 640px) {
  main section:nth-child(4):not(.section_course_page_course) .container .owl-nav {
    top: 110%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-next, main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-prev {
  background: url("../img/arrow_carousel.svg") no-repeat;
  width: 39px;
  height: 18px;
  background-position-y: center;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-next span, main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-prev span {
  display: none;
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: -72px;
}

@media screen and (max-width: 640px) {
  main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-next {
    position: relative;
    right: 0;
  }
}

main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-prev {
  position: absolute;
  margin-left: -67px;
}

@media screen and (max-width: 640px) {
  main section:nth-child(4):not(.section_course_page_course) .container .owl-nav .owl-prev {
    position: relative;
    margin-left: 0;
  }
}

main .form_wrapper {
  background-color: #f2f2f2;
}

@media screen and (max-width: 992px) {
  main .form_wrapper {
    margin-top: 64px;
  }
}

main .form_wrapper .container {
  max-width: 100%;
  padding: 46px 40px 50px 40px;
}

main .form_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  main .form_wrapper form {
    display: block;
    text-align: center;
  }
}

main .form_wrapper form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 76%;
  margin: 0 35px 0 0;
}

@media screen and (max-width: 992px) {
  main .form_wrapper form .form-group {
    display: block;
    text-align: center;
    width: 100%;
  }
}

main .form_wrapper form .form-group label {
  margin: 0 14px 4px 0;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 1.8px;
  color: rgba(31, 31, 36, 0.83);
  text-shadow: rgba(31, 31, 36, 0.4) 1px 0 0.3px;
}

main .form_wrapper form .form-group input {
  height: 60px;
  font-size: 19px;
  padding-left: 21px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
}

@media screen and (max-width: 992px) {
  main .form_wrapper form .form-group input {
    margin: 20px 0;
  }
}

button.form_button_submit {
  width: 252px;
  height: 60px;
  font-weight: 500;
  font-size: 22px;
  border-radius: 8px;
  color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), to(#de9224));
  background-image: linear-gradient(to top, #de9224, #e27311, #de9224);
  position: relative;
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 420px) {
  button.form_button_submit {
    width: 270px;
    font-size: 15px;
  }
}

button.form_button_submit:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background: linear-gradient(to top, #e27311, #de9224, #e27311);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  z-index: 2;
  opacity: 0;
}

button.form_button_submit:hover:after {
  opacity: 1;
}

button.form_button_submit span {
  z-index: 3;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 992px) {
  button.form_button_submit {
    width: 93%;
  }
}

button.form_button_submit_page_course {
  position: absolute;
  top: 107%;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  font-size: 24px;
  letter-spacing: 0.9px;
}

@media screen and (max-width: 768px) {
  button.form_button_submit_page_course {
    top: 109%;
  }
}

.form-control {
  color: rgba(31, 31, 36, 0.4);
  border: none;
  padding: 10px 41px 10px 17px;
  height: auto;
  text-overflow: ellipsis;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.form-control:hover {
  color: rgba(31, 31, 36, 0.6);
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
}

.form-control::-webkit-input-placeholder {
  color: rgba(31, 31, 36, 0.4);
}

.form-control:-ms-input-placeholder {
  color: rgba(31, 31, 36, 0.4);
}

.form-control::-ms-input-placeholder {
  color: rgba(31, 31, 36, 0.4);
}

.form-control::placeholder {
  color: rgba(31, 31, 36, 0.4);
}

input[type="email"]::-webkit-input-placeholder {
  color: rgba(31, 31, 36, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

input[type="email"]:-ms-input-placeholder {
  color: rgba(31, 31, 36, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

input[type="email"]::-ms-input-placeholder {
  color: rgba(31, 31, 36, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

input[type="email"]::placeholder {
  color: rgba(31, 31, 36, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

.section_form_page {
  padding: 6% 0 9% 0;
}

.section_form_page .container {
  width: calc(100% - 141px);
}

@media screen and (max-width: 1200px) {
  .section_form_page .container {
    width: calc(100% - 42px);
  }
}

@media screen and (max-width: 768px) {
  .section_form_page .container {
    width: 100%;
    padding: 34px 0 !important;
  }
}

.section_form_page .container form .form-control {
  padding: 10px 41px 10px 25px;
  font-size: 20px;
}

.section_form_page .container form .form-control:hover {
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.08);
}

@media screen and (max-width: 768px) {
  .section_form_page {
    padding: 9% 0 211px 0;
  }
}

.section_form_page .form_page {
  padding: 60px 46px 40px;
  border: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page {
    padding: 60px 15px 40px;
  }
}

.section_form_page .form_page:after {
  content: '';
  width: 1px;
  height: 62%;
  background-color: #ddd6d6;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.section_form_page .form_page .form-row {
  margin-bottom: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_form_page .form_page .form-row .col-sm-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page .form-row .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.section_form_page .form_page .file_upload_button label {
  width: 357px;
  margin: 40px auto 0;
  padding: 10px 71px 10px 21px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .section_form_page .form_page .file_upload_button label {
    width: 360px;
  }
}

@media screen and (max-width: 992px) {
  .section_form_page .form_page .file_upload_button label {
    width: 354px;
  }
}

.section_form_page .form_page .file_upload_button label div {
  margin-right: 44px;
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page .file_upload_button label {
    width: 100%;
    margin: 10px auto 0;
    font-size: 16px;
    padding: 10px 30px 10px 21px;
  }
}

footer {
  background: url("../img/footer_img_fone.jpg") no-repeat;
  background-size: cover;
  padding: 60px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 40px;
}

@media screen and (max-width: 992px) {
  footer .container {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container .addres_footer,
footer .container .logo_footer,
footer .container form {
  width: 33%;
}

@media screen and (max-width: 992px) {
  footer .container .addres_footer,
  footer .container .logo_footer,
  footer .container form {
    width: 100%;
  }
}

footer .container .addres_footer {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1.8px;
  opacity: 0.7;
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  footer .container .addres_footer {
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 992px) {
  footer .container .logo_footer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

footer .container .logo_footer img {
  width: auto;
}

footer .container form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .container form div:first-child {
  padding-bottom: 24px;
}

@media screen and (max-width: 992px) {
  footer .container form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-inline a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.form-inline a span {
  letter-spacing: 1.2px;
  opacity: 0.7;
}

.form-inline a:hover {
  color: #ffa21b;
}

.form-inline a svg {
  fill: #fff;
}

.form-inline a:hover svg {
  fill: #ff7c08;
}

.header_form a svg {
  fill: #e27311;
}

@media screen and (max-width: 568px) {
  .header_form {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 568px) {
  .header_form span {
    display: none;
  }
}

.section_course_page_course {
  padding-bottom: 125px;
  background: #f2f2f2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section_course_page_course .container {
  max-width: 100%;
  padding: 0 40px;
}

@media screen and (max-width: 430px) {
  .section_course_page_course .container {
    padding: 0 15px;
  }
}

.section_course_page_course .container .row div:first-of-type > .row > div {
  margin-bottom: 43px;
}

.section_course_page_course .container .row div:first-of-type > .row > div:nth-child(1) {
  padding-right: 10px;
}

.section_course_page_course .container .row div:first-of-type > .row > div:nth-child(2) {
  padding-left: 10px;
}

.section_course_page_course .container .row div:first-of-type > .row > div:nth-child(2) div.price_courses {
  padding: 14px 45px 20px 20px;
}

.section_course_page_course .container .row div:first-of-type > .row .price_courses {
  border-radius: 6px;
  padding: 14px 16px 17px 20px;
  border: solid 1px #e2e2e2;
  background-color: #fcfcfc;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  letter-spacing: 0.9px;
}

.section_course_page_course .container .row div:first-of-type > .row .price_courses p {
  opacity: 0.8;
}

.section_course_page_course .container .row div:first-of-type > .row .price_courses div:last-of-type {
  text-align: center;
  line-height: 33px;
}

.section_course_page_course .container .row > div:last-of-type form .form-row {
  margin: 3.5px 3.5px;
}

.section_course_page_course .container .row > div:last-of-type form .form-row > div input, .section_course_page_course .container .row > div:last-of-type form .form-row > div select {
  width: 98%;
}

.section_course_page_course .container .row > div:last-of-type form .form-row:first-of-type {
  margin-top: 26px;
}

.section_course_page_course .container .row > div:last-of-type form .form-group {
  margin: 13px 0;
}

.section_course_page_course .container .construction_industry:after {
  content: '';
  width: 200px;
  height: 2px;
  border: solid 1px #ffa21b;
  background-color: #ffa21b;
  display: block;
  margin: 4% 0 6%;
}

.section_course_page_course .container h4 {
  letter-spacing: 2.5px;
}

@media screen and (max-width: 992px) {
  .section_course_page_course {
    padding-bottom: 208px;
  }
}

.hidden {
  display: none;
}

.section_certification {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 570px) {
  .section_certification {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 387px) {
  .section_certification h2 {
    font-size: 19px;
  }
}

.section_certification .container {
  padding: 20px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_certification .container img {
  width: 79%;
}

@media screen and (max-width: 387px) {
  .section_certification .container img {
    width: 100%;
  }
}

.section_certification .container h5 {
  margin-top: 50px;
}

@media screen and (max-width: 387px) {
  .section_certification .container h5 {
    font-size: 15px;
  }
}

.section_table {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 470px) {
  .section_table {
    padding: 15px;
  }
}

@media screen and (max-width: 470px) {
  .section_table .container {
    padding: 0;
  }
}

.section_table .container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.section_table .container table td, .section_table .container table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media screen and (max-width: 660px) {
  .section_table .container table td, .section_table .container table th {
    font-size: 12px;
  }
}

@media screen and (max-width: 530px) {
  .section_table .container table td, .section_table .container table th {
    font-size: 10px;
  }
}

@media screen and (max-width: 470px) {
  .section_table .container table td, .section_table .container table th {
    font-size: 8px;
  }
}

.section_table .container table tr:nth-child(even) {
  background-color: #ddd;
}

.section_educational_center .container {
  max-width: 100%;
  padding: 45px 40px 0;
}

.section_educational_center .container .row div:last-of-type > .row {
  padding-top: 29px;
}

.section_educational_center .container .row div:last-of-type > .row > .col-sm-4 {
  max-width: 33.3%;
  padding: 0 28px;
}

.section_educational_center .container .row div:last-of-type > .row img {
  border-radius: 4px;
  border: solid 2px #ffffff;
  -webkit-box-shadow: 0px 6px 5px 2px #ebe8eb;
          box-shadow: 0px 6px 5px 2px #ebe8eb;
}

.scroll_text {
  height: 100px;
  margin: 0 15px;
  overflow-y: scroll;
}

@media screen and (max-width: 992px) {
  .scroll_text {
    margin: 60px 15px;
  }
}

.scroll_text .force-overflow {
  min-height: auto;
}

.scroll_text .force-overflow p {
  font-size: 16px;
  letter-spacing: 0.9px;
  color: rgba(31, 31, 36, 0.9);
  line-height: 21px;
}

.scroll_text .force-overflow .training_center {
  text-indent: 30px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #D6D6D6;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #D39C74;
}

.select_tick {
  position: relative;
  display: inline-block;
}

.select_tick:after, .select_tick:before {
  content: '';
  border-bottom: 1px solid rgba(31, 31, 36, 0.4);
  position: absolute;
  top: 48%;
  text-align: center;
  width: 3.6%;
  pointer-events: none;
}

.select_tick:after {
  right: 11.5%;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.select_tick:before {
  right: 9%;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.select_tick:hover:after, .select_tick:hover:before {
  border-bottom: 1px solid #e27411;
}

.class_active:after {
  right: 11.5%;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.class_active:before {
  right: 9%;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

select {
  padding-right: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*# sourceMappingURL=style.css.map */