@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
  background-color: rgba(31, 31, 36, 0.4);
}

.form-inline a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.form-inline a span {
  opacity: 0.7;
}

.form-inline a:hover {
  color: #ffa21b;
}

.form-inline a svg {
  fill: #fff;
}

.form-inline a:hover svg {
  fill: #ff7c08;
}

.header_form a svg {
  fill: #e27311;
}

@media screen and (max-width: 568px) {
  .header_form {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 568px) {
  .header_form span {
    display: none;
  }
}

.section_course_page_course {
  display: none;
  padding-bottom: 196px;
}

@media screen and (max-width: 992px) {
  .section_course_page_course {
    padding-bottom: 23%;
  }
}

.active_visible {
  display: block;
}

main section {
  padding: 81px 0;
}

@media screen and (max-width: 992px) {
  main section:not(:first-child) {
    height: 100%;
  }
}

main section h2:not(.training_title), main section .info_educational {
  letter-spacing: 1.5px;
  color: rgba(31, 31, 36, 0.9);
}

main section h2:not(.training_title):after, main section .info_educational:after {
  content: '';
  width: 200px;
  height: 2px;
  border: solid 1px #ffa21b;
  background-color: #ffa21b;
  display: block;
  margin: 22px auto 0;
}

main section:nth-child(1).section_screen_page_form {
  background: url("../img/form_page/form_page_home.jpg") no-repeat;
  height: 53vh;
}

main section:nth-child(1).section_screen_page_form .container {
  padding-top: 9%;
}

main section:nth-child(1).section_screen_page_form .container h1 {
  margin-bottom: 5%;
}

@media screen and (max-width: 968px) {
  main section:nth-child(1).section_screen_page_form {
    height: 100vh;
  }
}

main section:nth-child(1).section_screen_page_course {
  background: url("../img/page_3/fone_home_page_3.jpg") no-repeat;
  height: 57vh;
}

main section:nth-child(1).section_screen_page_course .container {
  padding-top: 9%;
}

main section:nth-child(1).section_screen_page_course .container h1 {
  margin-bottom: 6%;
}

@media screen and (max-width: 968px) {
  main section:nth-child(1).section_screen_page_course {
    height: 100vh;
  }
}

main section:nth-child(1).section_screen_page_home {
  background: url("../img/img_fone_home.jpg") no-repeat;
  height: 100vh;
}

main section:nth-child(1).section_screen_page_home .container {
  padding-top: 20%;
}

main section:nth-child(1).section_screen_page_home, main section:nth-child(1).section_screen_page_course, main section:nth-child(1).section_screen_page_form {
  background-size: cover;
  overflow: hidden;
  background-position-x: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(1).section_screen_page_home img, main section:nth-child(1).section_screen_page_course img, main section:nth-child(1).section_screen_page_form img {
  height: 100vh;
}

main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_home div h3, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_course div h3, main section:nth-child(1).section_screen_page_form div h1, main section:nth-child(1).section_screen_page_form div h3 {
  text-shadow: 0px 7px 21.6px rgba(31, 31, 36, 0.3);
}

main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 6.2px;
  opacity: 0.9;
}

@media screen and (max-width: 774px) {
  main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 620px) {
  main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 470px) {
  main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
    font-size: 2.1rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 470px) {
  main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }
}

@media screen and (max-height: 414px) {
  main section:nth-child(1).section_screen_page_home div h1, main section:nth-child(1).section_screen_page_course div h1, main section:nth-child(1).section_screen_page_form div h1 {
    font-size: 2.5rem;
    letter-spacing: 0;
  }
}

main section:nth-child(1).section_screen_page_home div h3, main section:nth-child(1).section_screen_page_course div h3, main section:nth-child(1).section_screen_page_form div h3 {
  margin-bottom: 10%;
  letter-spacing: 2.25px;
  font-size: 30px;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  main section:nth-child(1).section_screen_page_home div h3, main section:nth-child(1).section_screen_page_course div h3, main section:nth-child(1).section_screen_page_form div h3 {
    margin-bottom: 20%;
    letter-spacing: 0;
  }
}

@media screen and (max-height: 320px) {
  main section:nth-child(1).section_screen_page_home div h3, main section:nth-child(1).section_screen_page_course div h3, main section:nth-child(1).section_screen_page_form div h3 {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

main section:nth-child(1).section_screen_page_home div a, main section:nth-child(1).section_screen_page_course div a, main section:nth-child(1).section_screen_page_form div a {
  padding: 14px 35px;
  text-decoration: none;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), color-stop(#e27311), to(#de9224));
  background-image: linear-gradient(to top, #de9224, #e27311, #e27311, #de9224);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

main section:nth-child(1).section_screen_page_home div a:hover, main section:nth-child(1).section_screen_page_course div a:hover, main section:nth-child(1).section_screen_page_form div a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background-image: linear-gradient(to top, #e27311, #de9224, #e27311);
}

@media screen and (max-width: 372px) {
  main section:nth-child(1).section_screen_page_home div a, main section:nth-child(1).section_screen_page_course div a, main section:nth-child(1).section_screen_page_form div a {
    font-size: 20px;
  }
}

main section:nth-child(1).section_screen_page_home div .directory_button, main section:nth-child(1).section_screen_page_course div .directory_button, main section:nth-child(1).section_screen_page_form div .directory_button {
  border: solid 2px #fff;
  background: transparent;
  position: relative;
  padding: 14px 86px 14px 34px;
}

main section:nth-child(1).section_screen_page_home div .directory_button:hover, main section:nth-child(1).section_screen_page_course div .directory_button:hover, main section:nth-child(1).section_screen_page_form div .directory_button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), to(#de9224));
  background-image: linear-gradient(to top, #de9224, #e27311, #de9224);
  border: solid 2px transparent;
}

main section:nth-child(1).section_screen_page_home div .directory_button:after, main section:nth-child(1).section_screen_page_course div .directory_button:after, main section:nth-child(1).section_screen_page_form div .directory_button:after {
  content: '';
  background: url(../img/arrow_button.svg) no-repeat;
  position: absolute;
  background-size: cover;
  width: 39px;
  background-position-y: center;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 33px;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main section:nth-child(2) {
  background: #ffffff;
}

main section:nth-child(2) .container {
  padding: 42px 0 0 0;
}

main section:nth-child(2) .container .row > div {
  padding: 12px;
}

main section:nth-child(2) .container .row > div .img_course {
  padding: 20px 30px;
  border-radius: 6px;
  border: solid 1px #e2e2e2;
  background-color: #fcfcfc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

main section:nth-child(2) .container .row > div .img_course:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
}

main section:nth-child(2) .container .row > div .img_course:hover h5 {
  background: conic-gradient(from 0.25turn, #e28d11, #ff511b 0.5turn, #e28d11), -webkit-gradient(linear, left top, left bottom, from(#e79112), to(#e79112));
  background: conic-gradient(from 0.25turn, #e28d11, #ff511b 0.5turn, #e28d11), linear-gradient(to bottom, #e79112, #e79112);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section:nth-child(2) .container .row > div .img_course a img {
  width: 20%;
  height: 67px;
}

main section:nth-child(2) .container .row > div .img_course a h5 {
  color: rgba(31, 31, 36, 0.8);
  width: 100%;
}

main section:nth-child(3) {
  background: #f2f2f2;
}

main section:nth-child(3) .container {
  padding: 56px 0 0 0;
}

@media screen and (max-width: 570px) {
  main section:nth-child(3) .container {
    padding: 3% 15px;
  }
}

main section:nth-child(3) .container .img_shadow {
  border-radius: 6px;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
}

main section:nth-child(3) .container a {
  position: absolute;
  color: #fff;
  top: 56%;
  left: 0;
  right: 0;
  margin: auto;
  width: 43%;
  font-size: 26px;
  padding: 5px 34px 7px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  main section:nth-child(3) .container a {
    width: 52%;
    top: 51%;
  }
}

@media screen and (max-width: 570px) {
  main section:nth-child(3) .container a {
    width: 70%;
    top: 51%;
  }
}

@media screen and (max-width: 434px) {
  main section:nth-child(3) .container a {
    top: 42%;
  }
}

main section:nth-child(3) .container a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), to(#de9224));
  background-image: linear-gradient(to top, #de9224, #e27311, #de9224);
  border: 2px solid transparent;
}

main section:nth-child(3) .container a:after {
  content: '';
  background: url(../img/arrow_button.svg) no-repeat;
  position: absolute;
  background-size: cover;
  width: 39px;
  background-position-y: center;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 33px;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main section:nth-child(3) .container h4.text_shadow {
  text-shadow: rgba(31, 31, 36, 0.4) 1px 0 0.3px, 7px 5px 12px rgba(31, 31, 36, 0.2);
  color: rgba(31, 31, 36, 0.4);
}

main section:nth-child(3) .container h4 {
  letter-spacing: 1.3px;
  padding-top: 40px;
  font-size: 26px;
}

@media screen and (max-width: 992px) {
  main section:nth-child(3) .container h4 {
    margin-bottom: 48px;
  }
}

main section:nth-child(3) .container .price_courses {
  border-radius: 6px;
  padding: 18px 7px;
  border: solid 1px #e2e2e2;
  background-color: #fcfcfc;
}

main section:nth-child(3) .container .construction_industry:after {
  content: '';
  width: 200px;
  height: 2px;
  border: solid 1px #ffa21b;
  background-color: #ffa21b;
  display: block;
  margin: 3% 0 6%;
}

main section form:not(.form_page) {
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.25);
}

main section form {
  border-radius: 6px;
  border: solid 1px #d2d2d2;
  background-color: #f2f2f2;
  padding: 26px 20px 17px 20px;
}

main section form #input_upload_file {
  display: none;
}

main section form .file_upload_button label {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #d8d8d8;
  padding: 12px 11px;
  font-size: 18px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgba(31, 31, 36, 0.6);
  width: 50%;
}

@media screen and (max-width: 480px) {
  main section form .file_upload_button label {
    width: 100%;
  }
}

main section form .file_upload_button label:hover {
  color: #1f1f24;
}

@media screen and (max-width: 992px) {
  main section form .form-row {
    margin-bottom: 30px;
  }
}

main section:nth-child(4) {
  background: #fff;
  overflow-x: hidden;
  padding-bottom: 90px;
}

main section:nth-child(4) .container {
  padding: 56px 27px 0;
}

main section:nth-child(4) .container .owl-theme .owl-nav [class*=owl-]:hover {
  background: url("../img/arrow_carousel.svg") no-repeat;
  width: 39px;
  height: 18px;
  background-position-y: center;
}

main section:nth-child(4) .container .item:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 12, 0.18);
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section:nth-child(4) .container .item:hover::after {
  opacity: 1;
}

main section:nth-child(4) .container .item div {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 99999;
}

main section:nth-child(4) .container .item div .btn {
  color: rgba(255, 162, 27, 0.8);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 162, 27, 0.8);
  padding: 0;
  border-radius: 0;
}

main section:nth-child(4) .container .item div .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section:nth-child(4) .container .item div .btn:hover {
  color: #ffa21b;
  border-bottom: 2px solid #ffa21b;
}

main section:nth-child(4) .container .item:hover div {
  opacity: 1;
}

main section:nth-child(4) .container .item img {
  height: 450px;
  -webkit-box-shadow: 0px 19px 31.6px -1.6px rgba(31, 31, 36, 0.15);
          box-shadow: 0px 19px 31.6px -1.6px rgba(31, 31, 36, 0.15);
}

@media screen and (max-width: 768px) {
  main section:nth-child(4) .container .item img {
    height: 337px;
  }
}

main section:nth-child(4) .container .owl-stage-outer {
  overflow: visible;
}

main section:nth-child(4) .container .owl-stage-outer .owl-item {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

main section:nth-child(4) .container .owl-stage-outer .owl-item.active {
  opacity: 1;
}

main section:nth-child(4) .container .owl-nav {
  position: absolute;
  top: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: -5%;
}

@media screen and (max-width: 992px) {
  main section:nth-child(4) .container .owl-nav {
    left: -7%;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(4) .container .owl-nav {
    left: -10%;
  }
}

@media screen and (max-width: 620px) {
  main section:nth-child(4) .container .owl-nav {
    top: 110%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    left: 0;
  }
}

main section:nth-child(4) .container .owl-nav .owl-next, main section:nth-child(4) .container .owl-nav .owl-prev {
  background: url("../img/arrow_carousel.svg") no-repeat;
  fill: red;
  width: 39px;
  height: 18px;
  background-position-y: center;
}

main section:nth-child(4) .container .owl-nav .owl-next span, main section:nth-child(4) .container .owl-nav .owl-prev span {
  display: none;
}

main section:nth-child(4) .container .owl-nav .owl-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 1145px;
}

@media screen and (max-width: 1200px) {
  main section:nth-child(4) .container .owl-nav .owl-next {
    left: 951px;
  }
}

@media screen and (max-width: 992px) {
  main section:nth-child(4) .container .owl-nav .owl-next {
    left: 712px;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(4) .container .owl-nav .owl-next {
    left: 534px;
  }
}

@media screen and (max-width: 620px) {
  main section:nth-child(4) .container .owl-nav .owl-next {
    position: relative;
    left: 0;
  }
}

main .form_wrapper {
  background-color: #f2f2f2;
}

@media screen and (max-width: 992px) {
  main .form_wrapper {
    margin-top: 64px;
  }
}

main .form_wrapper .container {
  max-width: 100%;
  padding: 46px 40px 50px 40px;
}

main .form_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  main .form_wrapper form {
    display: block;
    text-align: center;
  }
}

main .form_wrapper form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 76%;
  margin: 0 35px 0 0;
}

@media screen and (max-width: 992px) {
  main .form_wrapper form .form-group {
    display: block;
    text-align: center;
    width: 100%;
  }
}

main .form_wrapper form .form-group label {
  margin: 0 14px 4px 0;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 1.8px;
  color: rgba(31, 31, 36, 0.4);
  text-shadow: rgba(31, 31, 36, 0.4) 1px 0 0.3px;
}

main .form_wrapper form .form-group input {
  height: 60px;
  font-size: 19px;
  padding-left: 21px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
          box-shadow: 0px 7px 21.6px 2.4px rgba(31, 31, 36, 0.05);
}

@media screen and (max-width: 992px) {
  main .form_wrapper form .form-group input {
    margin: 20px 0;
  }
}

button.form_button_submit {
  width: 252px;
  height: 60px;
  font-size: 22px;
  border-radius: 8px;
  color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de9224), color-stop(#e27311), to(#de9224));
  background-image: linear-gradient(to top, #de9224, #e27311, #de9224);
}

button.form_button_submit:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e27311), color-stop(#de9224), to(#e27311));
  background-image: linear-gradient(to top, #e27311, #de9224, #e27311);
  color: #fff;
}

@media screen and (max-width: 992px) {
  button.form_button_submit {
    width: 93%;
  }
}

.form_button_submit_page_course {
  position: absolute;
  top: 116%;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .form_button_submit_page_course {
    top: 109%;
  }
}

.form-control {
  color: rgba(31, 31, 36, 0.4);
}

.form-control:hover {
  color: #1f1f24;
}

.form-control::-webkit-input-placeholder {
  color: rgba(31, 31, 36, 0.4);
}

.section_form_page {
  padding: 6% 0 18% 0;
}

.section_form_page .container {
  width: 65%;
  padding: 15px 0 0 0 !important;
}

@media screen and (max-width: 1200px) {
  .section_form_page .container {
    width: 75%;
  }
}

@media screen and (max-width: 968px) {
  .section_form_page .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section_form_page {
    padding: 9% 0 29% 0;
  }
}

.section_form_page .form_page {
  padding: 60px 46px;
  border: none;
}

.section_form_page .form_page .form-control {
  border: none;
  padding: 10px 17px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page:after {
    display: none;
  }
}

.section_form_page .form_page:after {
  content: '';
  width: 1px;
  height: 49%;
  background-color: #ddd6d6;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
}

.section_form_page .form_page .form-row {
  margin-bottom: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_form_page .form_page .form-row .col-sm-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page .form-row .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.section_form_page .form_page .file_upload_button label {
  width: 35%;
  margin: 40px auto 0;
}

@media screen and (max-width: 992px) {
  .section_form_page .form_page .file_upload_button label {
    width: 44%;
  }
}

@media screen and (max-width: 768px) {
  .section_form_page .form_page .file_upload_button label {
    width: 100%;
  }
}

footer {
  background: url("../img/footer_img_fone.jpg") no-repeat;
  background-size: cover;
  padding: 60px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 40px;
}

@media screen and (max-width: 992px) {
  footer .container {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container .addres_footer,
footer .container .logo_footer,
footer .container form {
  width: 33%;
}

@media screen and (max-width: 992px) {
  footer .container .addres_footer,
  footer .container .logo_footer,
  footer .container form {
    width: 100%;
  }
}

footer .container .addres_footer {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1.8px;
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  footer .container .addres_footer {
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 992px) {
  footer .container .logo_footer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

footer .container .logo_footer img {
  width: auto;
}

footer .container form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .container form div:first-child {
  padding-bottom: 24px;
}

@media screen and (max-width: 992px) {
  footer .container form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scroll_text {
  height: 100px;
  margin: 0 15px;
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 992px) {
  .scroll_text {
    margin: 60px 15px;
  }
}

.scroll_text .force-overflow {
  min-height: auto;
}

.scroll_text .force-overflow .training_center {
  text-indent: 30px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #D6D6D6;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #D39C74;
}
/*# sourceMappingURL=style.css.map */